/* BEM
 -------------------------- */
@mixin b($namespace, $block) {
  $B: $namespace+'-'+$block !global;

  .#{$B} {
    @content;
  }
}

@mixin m($modifier) {
  $selector: &;
  $currentSelector: "";
  @each $unit in $modifier {
    $currentSelector: #{$currentSelector + & + "--" + $unit + ","};
  }

  @at-root {
    #{$currentSelector} {
      @content;
    }
  }
}
